body {
    margin: 0;
    user-select: none;
}

.header {
    width: 100%;
    height: 112px;
 }
 
 ul {
     display: flex;
     align-items: center;
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 .web_title {
    width: 120px;
    height: 75px;
    margin: 0 auto;
 }
 .title_banner {
    width: 106px;
    height: 75px;
 }

 .h_top {
     width: 1285px;
     height: 110px;
     margin: 0 auto; 
     display: flex;

     align-items: center;
 }

 a {
     color: var(--t_100);
     text-decoration: none;
 }

 .zzz_logo {
     width: 83px;
     height: 95px;
 }
 
 .web_menu {
     width: 315px;
     margin: 10px;
     display: flex;
     font-size: 16px;
     font-weight: 600;
     letter-spacing: -0.5px;

     align-items: center;
     justify-content: space-evenly;
 }
 
 .web_bar {
     width: 847px;
     height: 30px;
     display: flex;
     justify-content: flex-end;
     position: relative;
     top: 3px;

     padding: 0 5px;
 }

  .search_btn {
    border: 0;
    width: 35px;
    height: 28px;

    background: url(./pot_img/1255.PNG) no-repeat;
  }
  
  .hamchk_btn {
    border: 0;
    width: 30px;
    height: 28px;
    background: url(./pot_img/435.PNG);
  }

  .web_menu div a {
    text-decoration: none; 
    position: relative; 
    color: black; 
}

.web_menu div a::after {
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: -5px; 
    width: 0; 
    height: 2px; 
    background-color: black;
    transition: width 0.3s ease;
}

.web_menu div a:hover::after {
    width: 100%;
}

/*******헤더********/

/*****************검색바*****************/

 .search_page {
    width: 400px;
    height: 500px;
    border-radius: 5px;
    position: relative;
    right: 445px;
    top: 275px;
    display: none;
    z-index: 999999;
    background: white;

    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
 }

 .search_bar {
    width: 278px;
    height: 24.7px;
    margin: 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    line-height: 1.35;
 }


    .container {
    border: 1px solid;
    color: #013ADF;
 }
 
 .search_record {
     width: 358px;
     height: 356px;
     padding: 8px 20px;
 }

 .ingi_search {
     font-weight: 500;
     line-height: 1.6;
 }
 
 .box {
     height: 50px;
 }

 .box_pop {
     padding: 7px 0;
     line-height: 50px;
     font-size: 16px;
 }
 
 .search_close {
     display: flex;
     height: 55px;
     width: 398px;
     align-items: center;
     justify-content: flex-end
 }
 
 #search_page_close_btn {
     border: 0;
     width: 75px;
     height: 45px;
     font: inherit;
     color: black;
     background-color: white;
 }
 /******************************************/

 .webtoon {
    width: 1265px;
    height: 625px;
    margin: 0 auto;
    padding: 20px;

    padding-top: 16px;
    padding-bottom: 120px;
}

 .box_tab {
    width: 1275px;
    height: 65px;
 }

 .day_chart {
     width: 158px;
     height: 65px;
     line-height: 60px;
     border: 1px solid #ddd;
     float: left;
     
     text-align: center;
     border-bottom-color: #5880fe;
     background: #fff;
     margin: 0 -1px;
 }
 .webtoon_box {
    width: 1290px;
    height: 475px;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;

    gap: 14px;
}

 .webtoon_section {
     width: 242px;
     height: 121px;
     margin-bottom: 24px;
 }

 .webtoon_img {
     width: 242px;
     height: 121px;
}

 a {
     color: var(--t_100);
     text-decoration: none;
     font-weight: 500;
 }

 .artist_name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.web_title_name {
    width: 1250px;
    height: 65px;
    /* border: 1px solid; */
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.box_footer {
    width: 100%;
    height: 250px;
    background-color: #819FF7
}

